<div class="container" style="margin-top: 7%;">
  <div class="row">
    <div class="col-md-12">
      <!-- Top Header Section -->
      <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap">
      
        <h3 class="mb-2" style="font-weight: bold;">{{Header.AssessmentHeader}}</h3>
        <button class="btn btn-success mb-2" (click)="openModal()">
          <i class="fas fa-plus-circle"></i>{{Button.AssessmentButton}}
        </button>
      </div>

      <!-- Scrollable Table Container -->
      <div class="table-wrapper">
        <table class="table table-hover table-striped custom-table text-center align-middle">
          <thead class="table-dark">
            <tr class="text-start">
              <th class="text-start" style="min-width: 60px;">{{table.tbl_SRNo}}</th>
              <th class="text-start" style="min-width: 120px;">{{table.tbl_CourseName}} </th>
              <th class="text-start" style="min-width: 140px;">{{table.tbl_Assessment}}</th>
              <th class="text-start" style="min-width: 100px;">{{table.tbl_Duration}}</th>
              <th style="min-width: 60px; text-align: center;"> {{table.tbl_Edit}}</th>
              <th style="min-width: 70px; text-align: center;"> {{table.tbl_Mapping}}</th>
              <th  style="min-width: 90px; text-align: center;">{{table.tbl_Delete}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="assessment.length === 0">
              <td colspan="7" class="text-center">{{labels.txt_Nodata}}</td>
            </tr>
            <tr *ngFor="let item of assessment">
              <td class="text-start">{{ item.SrNo }}</td>
              <td class="text-start">{{ item.CourseName }}</td>
              <td class="text-start">{{ item.name }}</td>
              <td class="text-start">{{ item.duration }}</td>
              <td>
                <button class="btn btn-success btn-sm" (click)="editAssessment(item.assessmentID)">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="deleteAssessment(item.assessmentID, item.name)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-info btn-sm" [disabled]="item.CourseID == 0" (click)="SaveAssessmentAllocation(item.CourseID, item.assessmentID)">
                  <i class="fas fa-exchange-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



    <!-- Main Course Modal -->
    <div *ngIf="isModalOpen" class="modal">
      <div class="modal-content">
        <button class="close-btn" (click)="closeModal()">&times;</button>
        <h3 class="modal-header">{{ modalHeaderText }}</h3>
        <form>
                <!-- Row for Radio Buttons: Course or Assessment -->
                <div class="row">
                  <div class="col-md-6" style="display: flex; align-items: center;">
                    <input type="radio" id="courseRadio" name="type" value="course" (change)="setSelection('course')" [checked]="selectedType === 'course'" />
                    <label for="courseRadio" [ngClass]="{ 'selected-radio': selectedType === 'course' }" style="margin-left: 10px; margin-top: 5px;">{{labels.txt_CourseName}}</label>
                  </div>
                  <div class="col-md-6" style="display: flex; align-items: center;">
                    <input type="radio" id="generalRadio" name="type" value="general" (change)="setSelection('general')" [checked]="selectedType === 'general'" />
                    <label for="generalRadio" [ngClass]="{ 'selected-radio': selectedType === 'general' }" style="margin-left: 10px; margin-top: 5px;">{{labels.txt_General}}</label>
                  </div>
                </div>
          <!-- Course Form Fields -->
          <div class="row mt-2">
            <div class="col-md-6">
              <label for="department" style="font-weight: bold;">{{labels.txt_CourseName}}</label>
              <select class="form-control" id="department" [(ngModel)]="selectedCourseId" name="department" required #courseSelect [disabled]="isCourseDisabled">
                <option [value]="null" disabled>Select Course</option>
                <option *ngFor="let course of courses" [value]="course.courseId">{{ course.name }}</option>
              </select>
            </div>      
            <div class="col-md-6">
              <label for="courseTitle" style="font-weight: bold;">{{labels.txt_assessmentName}}</label>
              <input class="form-control" type="text" id="courseTitle" [(ngModel)]="assessmentName" name="courseTitle" placeholder="{{PlaceHolder.ph_Assessment}}" required #assessmentNameInput />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-4">
              <label for="questionPaper" style="font-weight: bold;">{{labels.txt_QuestionPaper}}</label>
              <select class="form-control" id="questionPaper" [(ngModel)]="selectedQuestionPaper" name="questionPaper" required #questionPaperSelect>
                <option [value]="null" disabled selected>Select Question Papers</option>
                <option *ngFor="let paper of questionPapers" [value]="paper">
                  {{ paper }}
                </option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="durationTime" style="font-weight: bold;"> Duration In</label>
              <select class="form-control" id="durationTime" [(ngModel)]="newCourse.durationTime" name="durationTime" required #durationTimeSelect>
                <option [value]="null" disabled selected>Select Course Duration</option>
                <option *ngFor="let time of durationTimes" [value]="time.DurationID">{{ time.DurationName }}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="chapterDuration" style="font-weight: bold;">{{labels.txt_Duration}}</label>
              <input class="form-control" type="text" id="chapterDuration" [(ngModel)]="durationValue" name="chapterDuration" placeholder="{{PlaceHolder.ph_Duration}}" required (input)="validateNumberInput($event)"  #durationInput />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="questionsCount" style="font-weight: bold;">{{labels.txt_QuestionsNo}}</label>
              <input class="form-control" type="text" id="questionsCount" [(ngModel)]="questionsCount" name="questionsCount" placeholder="{{PlaceHolder.ph_QuestionsNo}}" required (input)="validateNumberInput($event)" #questionsCountInput />
            </div>
            <div class="col-md-6">
              <label for="totalMarks" style="font-weight: bold;">{{labels.txt_TotalMarks}}</label>
              <input class="form-control" type="text" id="totalMarks" [(ngModel)]="totalMarks" name="totalMarks" placeholder="{{PlaceHolder.ph_TotalMarks}}" required (input)="validateNumberInput($event)" #totalMarksInput />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="passingMarks" style="font-weight: bold;">{{labels.txt_PassingMarks}}</label>
              <input class="form-control" type="text" id="passingMarks" [(ngModel)]="passingMarks" name="passingMarks" placeholder="{{PlaceHolder.ph_PassingMarks}}" required (input)="validateNumberInput($event)" #passingMarksInput />
            </div>
            <div class="col-md-6">
              <label for="passingMarks" style="font-weight: bold;">{{labels.txt_AttemptsNo}}</label>
              <input class="form-control" type="text" id="noOfAttempts" [(ngModel)]="noOfAttempts" name="noOfAttempts" placeholder="{{PlaceHolder.ph_AttemptsNo}}" required (input)="validateNumberInput($event)" #noOfAttemptsInput />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <button class="submit-btn" (click)="SaveandUpdateAssessmentDetails()">{{Button.submitButton}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
 