body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    color: #333;
    overflow-x: hidden;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInModal 0.5s ease-out;
    z-index: 1000;
}

@keyframes fadeInModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    width: 50%;
    max-width: 900%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    max-height: 80vh;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #dc3545; 
}

.delete-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    transition: background-color 0.3s ease;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {
    .modal-content {
        width: 80%;
        padding: 15px;
    }

    .modal-header {
        font-size: 20px;
    }

    .submit-btn{
        width: 100%;
        margin-top: 10px;
    }

    .submit-btn {
        padding: 10px 15px;
    }

    .delete-btn {
        padding: 6px 10px;
        font-size: 12px;
    }
}

.create-btn{
    background-color: #218838; color: white; border: none;
}

.submit-btn{
    background-color: #218838;
                color: white;
                border: none; padding: 6px 12px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      color: white;
      transition: background-color 0.3s ease;
}

.edit-btn, .delete-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    transition: background-color 0.3s ease;
}

.edit-btn {
    background-color: #28a745;
}

.edit-btn:hover {
    background-color: #218838;
}
