<div class="container mt-5">
  <div class="row align-items-center shadow-lg rounded" style="overflow: hidden; gap: 20px;padding: 5%;">
    <!-- Left Column for Image -->
    <div class="col-md-5 d-flex justify-content-center p-0">
      <img src="../../assets/Images/login.svg" alt="Learning Portal" class="img-fluid rounded" style="height: 100%; object-fit: cover; width: 100%;">
    </div>

    <!-- Right Column for Login Card -->
    <div class="col-md-6 p-5 bg-light animated-card">
      <div class="text-center mb-4">
        <h1 class="text-primary display-4">SkillMate</h1>
        <h4 class="text-muted">Learning Portal Application</h4>
      </div>
      <form (ngSubmit)="onLogin($event)">
        <!-- Username Field -->
        <div class="form-group mb-4">
          <label for="username" class="form-label">Employee ID</label>
          <input #employeeCodeInput type="text" class="form-control shadow-sm" id="username" name="username" 
                 placeholder="Enter Your EmployeeId" [(ngModel)]="employeeCode" required>
        </div>

        <!-- Password Field -->
        <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input #passwordInput type="password" class="form-control shadow-sm" id="password" name="password" 
                 placeholder="Enter Your Password" [(ngModel)]="password" required>
        </div>

        <!-- Forgot Password Link -->
        <div class="forgot-password">
          <a href="#" class="text-primary">Forgot password?</a>
        </div>

        <!-- Login Button -->
        <button type="submit" class="btn btn-primary w-100 login-btn mt-1">Log in</button>
      </form>
    </div>
  </div>
</div>
