<div class="container" style="margin-top: 7%;">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center mb-4">
       
        <h3 style="font-weight: bold;"> {{Header.ChapterHeader}}</h3>
        <button class="btn btn-success" (click)="openModal()">
          <i class="fas fa-plus-circle"></i> {{Button.ChapterButton}}
        </button>
      </div>
      <div class="table-container">
        <table class="table table-hover table-striped custom-table">
          <thead>
            <tr>

              <th >{{table.tbl_SRNo}}</th>
              <th >{{table.tbl_CourseName}}</th>
               <th>{{table.tbl_ChapterName}}</th>
               <th >{{table.tbl_Edit}}</th>
               <th >{{table.tbl_Mapping}}</th>
               <th >{{table.tbl_Delete}}</th>
            </tr>
          </thead>
          <tbody>
              <!-- Check if courses are available, else display no data message -->
  <tr *ngIf="chapters.length === 0">
    <td colspan="3" class="text-center">No data available</td> <!-- Adjust colspan to match the number of columns -->
  </tr>
  
              <tr *ngFor="let chapter of chapters; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ chapter.coursename}}</td>
          <td>{{ chapter.name}}</td>
          <td>
            <button class="edit-btn" style="background: green; border: none;color: white;"
            (click)="editChapter(chapter)">
              <i class="fa fa-edit" style="font-size: 18px;"></i>
            </button> &nbsp;
          </td>
        <td>
          <button class="btn btn-info btn-sm"  (click)="SaveChapterAllocation(chapter.chapterId)">
            <i class="fas fa-exchange-alt"></i>
          </button>
          </td>
          <td>
            <button class="delete-btn" style="background: rgb(224, 33, 33); border: none; color: white;"
              (click)="deleteChapter(chapter)">
              <i class="fa fa-trash" style="font-size: 18px;"></i>
            </button>
          </td>
        </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Main Course Modal -->
<div *ngIf="isModalOpen" class="modal">
  <div class=" modal-content">
    <button class="close-btn" (click)="closeModal()">&times;</button>
    <h3 class="modal-header">{{ modalHeaderText }}</h3>
    <form>
      <div class="row">
        <div class="col-md-6">
          <label for="Courses" style="font-weight: bold;">Courses</label>
          <select class="form-control" id="Courses" [(ngModel)]="selectedCourseId" name="Courses" required
            #courseSelect>
            <option [value]="null" disabled selected>Select Course</option>
            <option *ngFor="let course of courses" [value]="course.courseId">{{ course.name }}</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="chapterName" style="font-weight: bold;">Chapter Name</label>
          <input class="form-control" type="text" id="chapterName" [(ngModel)]="chapterName"
            placeholder="Enter Chapter Name" name="chapterName" required #chapterNameInput />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="durationTime" style="font-weight: bold;">Course Duration In</label>
          <select class="form-control" id="durationTime" [(ngModel)]="durationInId" name="durationTime" required
            #durationTimeSelect>
            <option [value]="null" disabled selected>Select Course Duration</option>
            <option *ngFor="let time of durationTimes" [value]="time.DurationID">
              {{ time.DurationName }}
            </option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="duration" style="font-weight: bold;">Course Duration</label>
          <input class="form-control" type="text" id="duration" [(ngModel)]="duration" name="duration"
            placeholder="Enter Course Duration Time " required #durationInput (input)="validateNumberInput($event)" />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <label for="contentType" style="font-weight: bold;">Content Type</label>
          <select class="form-control" id="contentType" [(ngModel)]="contentType" name="contentType"
            (change)="updateFileAcceptType(contentType)" required #contentTypeSelect>
            <option [value]="null" disabled selected>Select Content Type</option>
            <option *ngFor="let type of contentTypes" [value]="type.ContentID">
              {{ type.ContentName }}
            </option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="fileUploadChapter" style="font-weight: bold;">File Upload</label>
          <div class="custom-file">
            <input type="file" class="form-control" id="fileUploadChapter" [accept]="fileAcceptType" />
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <label for="chapterThumbnail" style="font-weight: bold;">Thumbnail</label>
          <input type="file" class="form-control" id="chapterThumbnail" accept="image/*" />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <button class="btnSubmit" (click)="SaveandUpdateChapterDetails()" [disabled]="isLoading">
            {{ isLoading ? 'Saving...' : 'Submit' }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="isLoading" class="loading-overlay">
  <img src="../../assets/Images/icon-loading.gif" alt="Loading..." class="loading-gif" />      
</div>