<div class="container" style="margin-top: 7%;">
  <div class="row">
    <div class="col-md-12">
      <!-- Add User & Report Builder Buttons -->
      <div class="d-flex justify-content-between align-items-center mb-4">
       
        <h3 style="font-weight: bold; ">{{Header.UserHeader}}</h3>
        <div class="btn-group">
          <!-- Add User Button -->
          <button class="btn btn-success" style="border-radius: 7px;" (click)="openModal(false)">
            <i class="fas fa-plus-circle"></i> {{Button.AddUserButton}}
          </button>&nbsp;
          <!-- Report Builder Dropdown -->
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" style="background-color: #0a48b3;" type="button"
              (click)="toggleDropdown($event)">
              <i class="fas fa-columns"></i> {{Button.ReportButton}}
            </button>
            <div class="dropdown-menu" [class.show]="isDropdownOpen">
              <label *ngFor="let column of tableColumns" class="dropdown-item">
                <input type="checkbox" [(ngModel)]="column.isVisible" (change)="toggleColumnVisibility()" />
                {{ column.label }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- Loading Spinner (only show when loading) -->
      <div *ngIf="isLoading" class="spinner-overlay">
        <div class="spinner"></div>
      </div>
      <!-- Search Box and Show Entries -->
      <div class="d-flex justify-content-between align-items-center mb-3">
        <!-- Show entries -->
        <div>
          <label for="entriesPerPage">Show entries</label>
          <select id="entriesPerPage" class="form-control" [(ngModel)]="entriesPerPage"
            (ngModelChange)="changeEntriesPerPage()">
            <option *ngFor="let option of entriesOptions" [value]="option">{{ option }}</option>
          </select>
        </div>
        <!-- Search box -->
        <div>
          <input type="text" class="form-control" placeholder="Search users..." [(ngModel)]="searchText"
            (ngModelChange)="searchUsers()" />
        </div>
      </div>
      <!-- User List Table -->
      <div class="table-container">
        <table class="table table-hover table-striped custom-table">
          <thead>
            <tr>
              <th *ngFor="let column of tableColumns" [hidden]="!column.isVisible" (click)="sortData(column.key)">
                {{ column.label }}
              </th>
              <th>{{table.tbl_Action}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filteredUsers.length === 0">
              <td colspan="7" class="text-center">{{labels.txt_Nodata}}</td>
            </tr>
            <tr *ngFor="let user of filteredUsers | paginate: { itemsPerPage: entriesPerPage, currentPage: p }">
              <td *ngFor="let column of tableColumns" [hidden]="!column.isVisible">
                {{ user[column.key] }}
              </td>
              <td>
                <button class="edit-btn" style="background: green; border: none; color: white;"
                  (click)="editUser(user)">
                  <i class="fa fa-edit" style="font-size: 18px;"></i>
                </button> &nbsp;
                <button class="delete-btn" style="background: rgb(224, 33, 33); border: none; color: white;"
                  (click)="deleteUser(user)">
                  <i class="fa fa-trash" style="font-size: 18px;"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between align-items-center">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
          <div class="text-right">
            <span>Showing {{ rangeInfo.start }} to {{ rangeInfo.end }} of {{ rangeInfo.total }} entries</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal for Add/Edit User -->
<div *ngIf="isModalOpen" class="modal">
  <div class="modal-content">
    <span class="close-btn" (click)="closeModal()">&times;</span>
    <h3>{{ isEditMode ? 'Edit User' : 'Add New User' }}</h3>
    <hr />
    <form>
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="employeeCode" style="font-weight: bold;">{{labels.txt_Employee}}</label>
          <input type="text" id="employeeCode" class="form-control" [(ngModel)]="newUser.employeeCode"
            name="employeeCode" placeholder="{{PlaceHolder.ph_EmpID}}" required #employeeCodeSelect>
        </div>
        <div class="col-md-4 form-group">
          <label for="firstName" style="font-weight: bold;">{{labels.txt_FirstName }} </label>
          <input type="text" id="firstName" class="form-control" [(ngModel)]="newUser.firstName" name="firstName"
            placeholder="{{PlaceHolder.ph_FirstName }}" required #firstNameSelect>
        </div>
        <div class="col-md-4 form-group">
          <label for="email" style="font-weight: bold;">{{labels.txt_Email }}</label>
          <input type="email" id="email" class="form-control" [(ngModel)]="newUser.email" name="email"
            placeholder="{{PlaceHolder.ph_Email }}" required #emailSelect>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="mobile" style="font-weight: bold;">{{labels.txt_Mobile }} </label>
          <input type="text" id="mobile" class="form-control" [(ngModel)]="newUser.mobile" name="mobile"
            placeholder="{{PlaceHolder.ph_Mobile }}" required #mobileNoSelect maxlength="10"
            (keypress)="allowOnlyNumbers($event)">
        </div>
        <div class="col-md-4 form-group">
          <label for="status" style="font-weight: bold;">{{labels.txt_EmpStatus }} </label>
          <input type="text" id="status" class="form-control" [(ngModel)]="newUser.status" name="status"
            placeholder="{{PlaceHolder.ph_EmpStatus }} " required #employeeStatusSelet />
        </div>
        <div class="col-md-4 form-group">
          <label for="bankPartner" style="font-weight: bold;">{{labels.txt_BankPartner }} </label>
          <input type="text" id="bankPartner" class="form-control" [(ngModel)]="newUser.bankPartner" name="bankPartner"
            placeholder="{{PlaceHolder.ph_BankPartner }}" required #bankPartnerSelect>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="department" style="font-weight: bold;">{{labels.txt_Department }}</label>
          <input type="text" id="department" class="form-control" [(ngModel)]="newUser.department" name="department"
            placeholder="{{PlaceHolder.ph_Department }}" required #departmentSelect>
        </div>
        <div class="col-md-4 form-group">
          <label for="designation" style="font-weight: bold;">{{labels.txt_Designation }}</label>
          <input type="text" id="designation" class="form-control" [(ngModel)]="newUser.designation" name="designation"
            placeholder="{{PlaceHolder.ph_Designation }} " required #designationSelect>
        </div>
        <div class="col-md-4 form-group">
          <label for="state" style="font-weight: bold;">{{labels.txt_State}}</label>
          <input type="text" id="state" class="form-control" [(ngModel)]="newUser.state" name="state"
            placeholder="{{PlaceHolder.ph_State}}" required #stateSelect>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="area" style="font-weight: bold;">{{labels.txt_Area}}</label>
          <input type="text" id="area" class="form-control" [(ngModel)]="newUser.area" name="area"
            placeholder="{{PlaceHolder.ph_Area}}" required #areaSelect>
        </div>
        <div class="col-md-4 form-group">
          <label for="branch" style="font-weight: bold;">{{labels.txt_Branch}}</label>
          <input type="text" id="branch" class="form-control" [(ngModel)]="newUser.branch" name="branch"
            placeholder="{{PlaceHolder.ph_Branch}}" required #branchSelect>
        </div>
        <div class="col-md-4 form-group d-flex align-items-center" style="margin-top: 6%;">
          <label for="isActive" style="font-weight: bold; margin-right: 10px;">{{labels.txt_IsActive}}</label>
          <input type="checkbox" id="isActive" [(ngModel)]="newUser.isActive" name="isActive" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <label for="role" style="font-weight: bold;">{{labels.txt_Role}}</label>
          <select id="role" class="form-control" [(ngModel)]="newUser.role" name="role" required #roleSelect>
            <option value="" disabled selected>Select Role</option>
            <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
          </select>
        </div>
        <div class="col-md-4 form-group">
          <label for="dateOfLeaving" style="font-weight: bold;">{{labels.txt_LeavingDate}}</label>
          <input type="date" id="dateOfLeaving" class="form-control" [(ngModel)]="newUser.dateOfLeaving"
            name="dateOfLeaving" #dateOfLeavingSelect>
        </div>
        <div class="col-md-4 form-group">
          <label for="dateOfJoining" style="font-weight: bold;">{{labels.txt_JoiningDate}}</label>
          <input type="date" id="dateOfJoining" class="form-control" [(ngModel)]="newUser.dateOfJoining"
            name="dateOfJoining" #dateOfJoiningSelect>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <label for="password" style="font-weight: bold;">{{labels.txt_Password}}</label>
          <input type="text" id="password" class="form-control" [(ngModel)]="newUser.decryptedPassword"
            name="password" placeholder="{{PlaceHolder.ph_password}}" #passwordSelect>
        </div>
        <div class="col-md-6 form-group">
          <label for="certificateType" style="font-weight: bold;">Certificate Type</label>
          <select id="certificateType" class="form-control" name="certificateType" required>
            <option value="" disabled selected>Select Certificate</option>
            <option value="IIBF">IIBF</option>
            <option value="UIPAI">UIPAI</option>
          </select>
        </div>
       
      </div>
      <!-- Certificate Type -->
<div class="row">
  <div class="col-md-6 form-group">
    <label for="documents" style="font-weight: bold;">Upload Documents</label>
    <input type="file" id="documents" class="form-control" (change)="onFileSelected($event)" multiple>

 
  </div>
  <div class="col-md-6 form-group">
       <!-- Show uploaded file names -->
       <ul *ngIf="selectedFiles?.length">
        <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
      </ul>
  </div>
</div>
      <button type="submit" (click)="SaveandUpdateUserDetails()" class="btn btn-success">{{ isEditMode ? 'Update' :
        'Save' }}</button>
    </form>
  </div>
</div>