.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 4;
  padding: 20px;
  margin-top: 2%;
  overflow: hidden; /* Prevents unwanted scrolling */
  margin-left: 15%;
}