.sidebar-toggle-icon {
  position: fixed;
  top: 36px;
  left: 10px;
  cursor: pointer;
  z-index: 1000;
  font-size: 24px;
}

.sidebar {
  background: linear-gradient(135deg, #0a48b3, #3e77b0, #6799cc);
  color: white;
 margin-top: 29%;
  height: 100%;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.sidebar.collapsed {
  transform: translateX(-100%);
}


.sidebar-links li {
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-links li:hover {
  background-color: #4a8cc2;
}

.dropdown-links {
  padding-left: 20px;
}

.fa {
  margin-right: 8px;
}
.sidebar-links,
.dropdown-links {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.sidebar-item {
  padding: 6px 12px;
  margin: 2px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar-item i {
  width: 20px;
}
.sidebar-submenu {
  list-style-type: none; /* Removes bullets */
  padding-left: 20px;    /* Indent for child items */
  margin: 0;
}

.sidebar-subitem {
  padding: 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar-subitem i {
  margin-right: 8px;
}


::ng-deep .sidebar-submenu {
  list-style-type: none;
}