/* sidebar.component.css */
.sidebar {
  background: linear-gradient(135deg, #3e77b0, #6799cc);
    color: white;
    height: 100%;
    width: 142px;
    position: fixed;
    top: 81px;
    left: 0;
    padding-top: 20px;
    box-shadow: 5px 0px 15px rgba(0, 0)
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.sidebar-links {
  list-style: none;
  padding-left: 0;
}

.sidebar-item {
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-item:hover {
  background-color: #4a8cc2;
}

.sidebar-item a {
  color: white;
  text-decoration: none;
  display: block;
}
