.sidebar {
  background: linear-gradient(135deg, #0a48b3, #3e77b0, #6799cc); /* Adding #0a48b3 to the gradient */
  color: white;
  height: 100%;
  width: 142px;
  position: fixed;
  top: 81px;
  left: 0;
  padding-top: 20px;
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.sidebar-links[_ngcontent-ng-c712419419] {
  list-style: none;
  padding-left: 17px;
}

.sidebar-item {
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: #4a8cc2;
  cursor: pointer;
}

.sidebar-item a {
  color: white;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
